<form [formGroup]="identForm" (ngSubmit)="mult2()">
    <div class="field" align="center">
        <label class="label">Multiplication</label>
        <div class="control">
            <p [ngClass]="{ 'has-error': isSubmitted2 && badLogin2 }">
            <input class="input is-success" formControlName="chif2" type="number" placeholder="Entrez un entier" value="">
            <div *ngIf="badLogin2" class="help-block">
                <div *ngIf="badLogin2">Veuillez entrer un chiffre !</div>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Soumettre</button>
        </div>
    </div>
</form>
<ul *ngFor="let i of nbTab"> 
    <li>-                 -</li> 
    <li *ngFor="let numbers of tab2">
        {{nbTab[i-1]}} x {{numbers.num}} = {{numbers.num * nbTab[i-1]}}
    </li>
</ul>