<section class="section">
    <div class="container" align="center">
        <div class="columns is-centered">
            <div class="column is-half">
                <h3 class="title is-3">TABLE DE MULTIPLICATION</h3>
                <form [formGroup]="identForm" (ngSubmit)="mult()">
                    <div class="field">
                        <label class="label">Entrez un chiffre :</label>
                        <div class="control" align="center">
                            <p [ngClass]="{ 'has-error': isSubmitted && badLogin }">
                                <input class="input is-success" formControlName="chif1" type="number" placeholder="Entrez un entier" value="">
                            </p>
                            <div *ngIf="isSubmitted && badLogin" class="help-block">
                                <div *ngIf="badLogin">Veuillez entrer un chiffre !</div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Générez la table</button>
                        </div>
                    </div>
                </form>
                <ul *ngIf="chif1">
                    <li *ngFor="let numbers of tab1">
                        {{numbers.num}} x {{chif1}} = {{numbers.num * chif1}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>